<!DOCTYPE html>
<html lang="en">

<div class="output">
    {% include 'head.html' %}
</div>

<body>
    <div class="output">
        {% include 'navbar.html' %}
    </div>

	<div class="output">
        {% include 'alert.html' %}
    </div>
	
    <div class="container p-5">
        <form action="/add_funds" method="POST">
            <div class="form-group">
                <div class="col-md-4 mx-auto">
                    <input type="number" step=".01" name="amount" placeholder="Amount to be added" class="form-control vgap">
                </div>
            </div>
            <div class="form-actions">
                <div style="text-align:center;">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
	
</body>

</html>